@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li ul.dropDown {
  display: none;
  background-color: #e9edf1;
  position: absolute;
  width: 200px;
  right: 0px;
  border-radius: 15px;
}

nav ul li:hover ul.dropDown {
  display: block;
  cursor: pointer;
}